/* CSS Custom Properties Definitions */

:root {

  /* Kingfisher Daisy */
  --color-primary-darkest: #251330;
  --color-primary-darker: #562d6e;
  --color-primary: #643480;
  --color-primary-lighter: #8043a4;
  --color-primary-lightest: #8e4bb6;

  /* Veridian */
  --color-secondary: #348064;
  --color-secondary-lighter: #41a07d;

  /* Hot Curry */
  --color-tertiary: #806434;
  --color-tertiary-lighter: #908573;
  --color-tertiary-lightest: #b68e4b;

  /* Eerie Black */
  --color-dark: #1b1b1b;

  --font-color-light: #dedede;
  --font-color-lighter: #f2f2f2;

  --color-text: #2e353f;
  --color-text-light: #4f5969;
  --color-heading: #1a202c;
  --color-heading-black: black;
  --color-accent: #d1dce5;
}

.navbar-dark {
  background-color: var(--color-dark);
}

.btn-primary {
  background-color: var(--color-primary-lighter);
  border-color: var(--color-primary);
}

.btn-primary:hover {
  background-color: var(--color-primary);
}

.paper-container {
  background-color: white;
  padding: 50px;
  max-width: 800px;
  min-height: 85vh;
}

.icon-row * {
  margin-right: 0.5em;
}