/* CSS Custom Properties Definitions */

:root {

  /* Kingfisher Daisy */
  --color-primary-darkest: #251330;
  --color-primary-darker: #562d6e;
  --color-primary: #643480;
  --color-primary-lighter: #8043a4;
  --color-primary-lightest: #8e4bb6;

  /* Veridian */
  --color-secondary: #348064;
  --color-secondary-lighter: #41a07d;
  --color-secondary-lightest:  rgba(112,166,146);

  /* Hot Curry */
  --color-tertiary: #806434;
  --color-tertiary-lighter: #908573;
  --color-tertiary-lightest: #b68e4b;

  /* Eerie Black */
  --color-dark: #1b1b1b;

  --font-color-light: #dedede;
  --font-color-lighter: #f2f2f2;

  --color-text: #2e353f;
  --color-text-light: #4f5969;
  --color-heading: #1a202c;
  --color-heading-black: black;
  --color-accent: #d1dce5;
}

.jumbotron {
  padding: 25px;
  overflow: hidden;
}

.navbar-dark {
  background-color: var(--color-dark);
}

.btn-primary {
  background-color: var(--color-primary-lighter);
  border-color: var(--color-primary);
}

.btn-primary:hover {
  background-color: var(--color-primary);
}

.paper-container {
  background-color: white;
  padding: 50px;
  max-width: 800px;
  min-height: 85vh;
}

.sidebar {
  padding: 10px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.sidebar-card {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#70a692+0,000000+100&0.65+0,0+100 */
  background: -moz-linear-gradient(-45deg,  rgba(112,166,146,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(112,166,146,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(112,166,146,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a670a692', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border-left: 6px solid var(--color-primary-lightest);
  padding: 30px;
  margin-bottom: 10px;
}

.icon-row {
  padding-top: 10px;
  margin: auto;
}

.icon-row a {
  margin: 0 0.25em;
}

.icon-row a * {
  color: var(--color-primary-lighter);
}

.icon-row a *:hover {
  color: var(--color-primary);
}

.icon-row a svg {
  font-size: 28px;
}

.home-card {
  /* width: 420px; */
  min-height: 200px;
  margin: 10px;
  padding: 2px;
  border: 4px solid var(--color-secondary-lighter);
  border-radius: 0;
}

.home-card .card-title {
  margin-top: 5px;
} 

.footer-nav .nav-link {
  line-height: 30px;
}

.article img {
  display: block;
  margin: auto;
}

.flashcard-base {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 350px;
}

.flashcard {
  min-height: 250px;
  min-width: 90%;
  max-width: 95%;
  position: absolute;
}

.flashcard .card-title {
  padding: 5px;
  border-bottom: 1px solid var(--color-secondary-lighter);
}

.flashcard .card-title {
  color: var(--color-primary);
  text-align: center;
}

.flashcard .card-body {
  font-size: 12px;
}

.flashcard-container {
  margin-bottom: 50px;
  max-width: 680px;
  min-height: 90vh;
}

.flashcard-container .btn-toolbar {
  display: block;
  margin: 20px auto;
  text-align: center;
}

._f-indent {
  padding-left: 30px;
}
